.landingContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.landingSearchBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
